<!DOCTYPE html>
<html>
<head>
    <title>Delete</title>
</head>
    <body>
        <h1>Delete by name</h1>
        <form action="/delete" method="post">
            Name: <input type="text" name="name" > <br><br>
            <input type="submit" value="delete">
        </form>
    </body>
</html>